<mat-toolbar class="example-toolbar">
    <span>Registros</span>
    <span class="example-spacer"></span>
    <button matTooltip="Exportar informacion" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>ios_share</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button (click)="exportar_informacion('pdf')" mat-menu-item>
            <mat-icon>picture_as_pdf</mat-icon>
            <span>Exportar en PDF</span>
        </button>
        <button (click)="exportar_informacion('excel')" mat-menu-item>
            <mat-icon>article</mat-icon>
            <span>Exportar en Excel</span>
        </button>
    </mat-menu>


</mat-toolbar>
<div>
    <div class="container text-center">
        <div class="row">
            <div class="col-2">
                <mat-form-field appearance="fill">
                    <mat-label>Filtrar por</mat-label>
                    <mat-select [(ngModel)]="filtro" name="food">
                        <mat-option *ngFor="let tipo of tipos_filtro" [value]="tipo">
                            {{tipo}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-8">
                <mat-form-field appearance="standard">
                    <mat-label>Buscar</mat-label>
                    <input [disabled]="!filtro" matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
                </mat-form-field>
            </div>

        </div>
    </div>
</div>
<div class="container-fluid">
    <section class="example-container mat-elevation-z8" tabindex="0">
        <table mat-table [dataSource]="dataSource" id="excel-table">
            <ng-container matColumnDef="alterno" sticky>
                <th mat-header-cell *matHeaderCellDef> Alterno </th>
                <td mat-cell *matCellDef="let element">
                    <a [routerLink]="['ficha',element.id_tramite ]">{{element.alterno}}</a>
                </td>
            </ng-container>
            <ng-container matColumnDef="ubicacion">
                <th mat-header-cell *matHeaderCellDef> Ubicacion </th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon>location_on</mat-icon>
                    {{element.ubicacion==null?'--':element.ubicacion}}
                </td>
            </ng-container>
            <ng-container matColumnDef="objeto">
                <th mat-header-cell *matHeaderCellDef> Objecto de contratacion </th>
                <td mat-cell *matCellDef="let element">
                    {{element.objeto}}
                </td>
            </ng-container>
            <ng-container matColumnDef="precio">
                <th mat-header-cell *matHeaderCellDef> Precio referencial </th>
                <td mat-cell *matCellDef="let element">
                    {{element.precio}} Bs.
                </td>
            </ng-container>
            <ng-container matColumnDef="origen">
                <th mat-header-cell *matHeaderCellDef> Origen</th>
                <td mat-cell *matCellDef="let element">
                    {{element.origen}}
                </td>
            </ng-container>
            <ng-container matColumnDef="plazo">
                <th mat-header-cell *matHeaderCellDef> Plazo de ejecucion </th>
                <td mat-cell *matCellDef="let element">
                    {{element.plazo_ejecucion}}
                </td>
            </ng-container>
            <ng-container matColumnDef="nro_apertura">
                <th mat-header-cell *matHeaderCellDef> Nro. apertura</th>
                <td mat-cell *matCellDef="let element">
                    {{element.apertura}}
                </td>
            </ng-container>
            <ng-container matColumnDef="modalidad">
                <th mat-header-cell *matHeaderCellDef> Modalidad </th>
                <td mat-cell *matCellDef="let element">
                    {{element.modalidad}}
                </td>
            </ng-container>

            <ng-container matColumnDef="cuce">
                <th mat-header-cell *matHeaderCellDef> CUCE </th>
                <td mat-cell *matCellDef="let element">
                    {{element.cuce}}
                </td>
            </ng-container>
            <ng-container matColumnDef="precio_adjudicado">
                <th mat-header-cell *matHeaderCellDef> Precio adjudicado</th>
                <td mat-cell *matCellDef="let element">
                    {{element.precio_adjudicado}}
                </td>
            </ng-container>
            <ng-container matColumnDef="fecha_creacion">
                <th mat-header-cell *matHeaderCellDef> Fecha creacion</th>
                <td mat-cell *matCellDef="let element">
                    {{element.fecha_creacion|date:'short'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="tipo_contratacion">
                <th mat-header-cell *matHeaderCellDef> Tipo contratacion</th>
                <td mat-cell *matCellDef="let element">
                    {{element.tipo_contratacion}}
                </td>
            </ng-container>
            <ng-container matColumnDef="empresa_adjudicada">
                <th mat-header-cell *matHeaderCellDef> Empresa adjudicada</th>
                <td mat-cell *matCellDef="let element">
                    {{element.empresa_adjudicada}}
                </td>
            </ng-container>
            <ng-container matColumnDef="representante_legal">
                <th mat-header-cell *matHeaderCellDef>Representante legal</th>
                <td mat-cell *matCellDef="let element">
                    {{element.representante_legal}}
                </td>
            </ng-container>

            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef>Estado</th>
                <td mat-cell *matCellDef="let element">
                    {{element.estado}}
                </td>
            </ng-container>
            <ng-container matColumnDef="observaciones">
                <th mat-header-cell *matHeaderCellDef>Observaciones</th>
                <td mat-cell *matCellDef="let element">
                    {{element.observaciones}}
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">Sin registros</td>
            </tr>

        </table>
    </section>

</div>