<h2 mat-dialog-title>{{titulo}} Funcionarios</h2>
<mat-dialog-content class="mat-typography">
    <mat-stepper orientation="vertical" [linear]="false" #stepper>
        <mat-step [stepControl]="Form_Funcionario">
            <form [formGroup]="Form_Funcionario">
                <ng-template matStepLabel>Datos funcionario</ng-template>
                <div class="row">
                    <div class="col-8">
                        <mat-form-field appearance="fill">
                            <mat-label>Nombre</mat-label>
                            <input formControlName="nombre" matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="fill">
                            <mat-label>Dni</mat-label>
                            <input formControlName="dni" matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <mat-form-field appearance="fill">
                            <mat-label>Cargo</mat-label>
                            <input formControlName="cargo" matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="fill">
                            <mat-label>Telefono</mat-label>
                            <input formControlName="telefono" matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <mat-form-field appearance="fill">
                        <mat-label>Direccion</mat-label>
                        <input formControlName="direccion" matInput>
                    </mat-form-field>
                </div>

                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>

        </mat-step>
        <mat-step [stepControl]="Form_Cuenta">
            <form [formGroup]="Form_Cuenta">
                <ng-template matStepLabel>Datos cuenta</ng-template>
                <div class="row">
                    <mat-form-field appearance="fill">
                        <mat-label>Seleccione la dependencia</mat-label>
                        <mat-select formControlName="dependencia">
                          <mat-option *ngFor="let dep of dependencias" [value]="dep.id_dependencia">
                            {{dep.nombre}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                   
                </div>
                <div class="row">
                    <div class="col-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Login</mat-label>
                            <input formControlName="login" matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Password</mat-label>
                            <input formControlName="password" matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Rol</mat-label>
                            <input formControlName="rol" matInput>
                        </mat-form-field>
                    </div>
                    
                </div>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>

                </div>
            </form>
        </mat-step>

    </mat-stepper>



</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button [disabled]="Form_Funcionario.invalid" (click)="guardar()" cdkFocusInitial>Guardar</button>
</mat-dialog-actions>