<p>
    <mat-toolbar>
        <ng-container>
            <span>Cuentas /
                <small style="font-size: 14px;">
                    Total: {{Total}}
                </small>
            </span>
            <span class="example-spacer"></span>
            <button mat-icon-button>
                <mat-icon>search</mat-icon>
            </button>
            <button (click)="agregar_cuenta()" mat-icon-button>
                <mat-icon>add</mat-icon>
            </button>
        </ng-container>
        <ng-container *ngIf="false">
            <mat-form-field floatLabel="never" style="width: 100%;">
                <mat-label>Ingrese el nombre o sigla de la institucion</mat-label>
                <input #txtSearch matInput type="text">
                <button matSuffix mat-icon-button>
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </ng-container>
    </mat-toolbar>
</p>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


    <ng-container matColumnDef="nro">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="login">
        <th mat-header-cell *matHeaderCellDef> Login </th>
        <td mat-cell *matCellDef="let element"> {{element.login}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="funcionario">
        <th mat-header-cell *matHeaderCellDef> Funcionario </th>
        <td mat-cell *matCellDef="let element"> {{element.funcionario.nombre}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="cargo">
        <th mat-header-cell *matHeaderCellDef> Cargo </th>
        <td mat-cell *matCellDef="let element"> {{element.funcionario.cargo}} </td>
    </ng-container>
    <ng-container matColumnDef="dependencia">
        <th mat-header-cell *matHeaderCellDef> Dependencia </th>
        <td mat-cell *matCellDef="let element"> {{element.dependencia.nombre}} </td>
    </ng-container>
    <ng-container matColumnDef="rol">
        <th mat-header-cell *matHeaderCellDef> Rol </th>
        <td mat-cell *matCellDef="let element"> {{element.rol}} </td>
    </ng-container>
    <ng-container matColumnDef="opciones">
        <th mat-header-cell *matHeaderCellDef> Opciones </th>
        <td mat-cell *matCellDef="let element">
            <button (click)="editar_cuenta(element)" mat-icon-button>
                <mat-icon>edit</mat-icon>
            </button>
            <!-- <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_options</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon>dialpad</mat-icon>
                    <span>Redial</span>
                </button>
                <button mat-menu-item disabled>
                    <mat-icon>voicemail</mat-icon>
                    <span>Check voice mail</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>notifications_off</mat-icon>
                    <span>Disable alerts</span>
                </button>
            </mat-menu> -->

        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>