<div class="header" matLine>
    <h2 mat-dialog-title>Remision tramite</h2>
    <button mat-icon-button [mat-dialog-close]="false">
        <mat-icon>close</mat-icon>
    </button>
</div>
<mat-dialog-content>
    <div class="contianer">
        <div class="row">
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>Seleccione la institucion</mat-label>
                    <mat-select (selectionChange)="obtener_dependencias($event.value)">
                        <mat-option *ngFor="let inst of instituciones" [value]="inst.id_institucion">
                            {{inst.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field>
                    <mat-select (selectionChange)="obtener_funcionarios($event.value)" [formControl]="bankCtrl"
                        placeholder="Buscar dependencia" #singleSelect>
                        <mat-option>
                            <ngx-mat-select-search [formControl]="bankFilterCtrl"></ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let bank of filteredBanks | async" [value]="bank.id_dependencia">
                            {{bank.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <mat-form-field>
                <mat-select [formControl]="UserCtrl" placeholder="Buscar funcionario" #userSelect>
                    <mat-option>
                        <ngx-mat-select-search [formControl]="userFilterCtrl"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option (click)="receptor=user" *ngFor="let user of filteredUsers | async"
                        [value]="user.funcionario._id">
                        <img alt="" class="example-option-img" src="../../../assets/img/account.png" height="25">
                        <span>{{user.funcionario.cargo|titlecase}}</span> |
                        <small>{{user.funcionario.nombre|uppercase}}</small>

                        <span *ngIf="user.id" style="left: 20px; vertical-align: middle;"
                            class="c-pill c-pill--success">
                            (Conectado)</span>
                        <span *ngIf="!user.id" style="left: 20px; vertical-align: middle;"
                            class="c-pill c-pill--danger">
                            (Sin coneccion)</span>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <form class="row g-3">

            <div class="col-md-12">
                <label for="inputEmail4" class="form-label">Tramite</label>
                <input disabled [value]="Data.detalles_tramite.alterno" type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="col-md-12">
                <div class="form-floating">
                    <textarea disabled [value]="Data.detalles_tramite.objeto" class="form-control" placeholder="Leave a comment here"
                        id="floatingTextarea"></textarea>
                    <label for="floatingTextarea">Objeto de contratacion</label>
                </div>
            </div>
        </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="input-group">
        <input [(ngModel)]="motivo" class="form-control" placeholder="Ingrese el motivo">
        <button (click)="remitir_tramite()" align="end" mat-raised-button color="primary">
            Enviar
        </button>
    </div>
</mat-dialog-actions>