mat-form-field {
    width: 100%;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.example-option-img {
    vertical-align: middle;
    margin-right: 8px;
}

[dir='rtl'] .example-option-img {
    margin-right: 0;
    margin-left: 8px;
}

.multiline-mat-option.mat-option {
    white-space: normal;
    line-height: normal;
}


.c-pill {
    align-items: center;
    font-family: "Open Sans", Arial, Verdana, sans-serif;
    font-weight: bold;
    font-size: 11px;
    display: inline-block;
    height: 100%;
    white-space: nowrap;
    width: auto;
    position: relative;
    border-radius: 100px;
    line-height: 1;
    overflow: hidden;
    padding: 0px 12px 0px 20px;
    text-overflow: ellipsis;
    line-height: 1.25rem;
    color: #595959;
    word-break: break-word;
}

.c-pill:before {
    border-radius: 50%;
    content: '';
    height: 10px;
    left: 6px;
    margin-top: -5px;
    position: absolute;
    top: 50%;
    width: 10px;
}

.c-pill--success {
    background: #b4eda0;
}

.c-pill--success:before {
    background: #6bc167;
}

.c-pill--warning {
    background: #ffebb6;
}

.c-pill--warning:before {
    background: #ffc400;
}

.c-pill--danger {
    background: #ffd5d1;
}


.c-pill--danger:before {
    background: #ff4436;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}