<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">Contrataciones</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56" [opened]="true">

      <mat-nav-list>
        <ng-container *ngFor="let item of Menu">
            <div mat-subheader>{{item.modulo}}</div>
            <mat-list-item *ngFor="let submodulo of item.submodulos" [routerLink]="submodulo.ruta"
                [routerLinkActive]="['active']">
                <mat-icon mat-list-icon>
                    {{submodulo.icon}}</mat-icon>
                <a matLine>{{submodulo.nombre}}</a>
            </mat-list-item>
            <mat-divider></mat-divider>
        </ng-container>
    </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="container-fluid">
        <router-outlet></router-outlet>

      </div>
      
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>